body {
  background-image: image-url('bg.png');
  background-size:cover
}

#board1 {
  margin-top: 80px;
}

// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
