<!DOCTYPE html>
<html>
  <head>
    <title>ChessEs22k18</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="container">
      <div class="col-xs-1" align="center">
        <div id="board1" style="width: 400px"></div>
      </div>
    </div>
    <div id="board1" style="width: 400px"></div>
    <%= yield %>
  </body>

</html>
